<div class="jumbotron">
  <h1 class="new-font">Welcome to Weight Tracker </h1>
  <p>This is a new application, easy to use, to track your weight</p>

  <p>
  <%= link_to "Sign up &raquo;".html_safe ,new_user_registration_path, class: "btn btn-primary btn-info btn-lg active", role:"button" %>
  </p>
        
</div>
