

<div class="jumbotron">
<h1>Welcome to Weight Tracker</h1>
<p>These a new application easy to use to track your weight</p>

<p><a class="btn btn-primary btn-lg" role="button">Sign up &raquo;</a></p>
        
</div>
