<div class="jumbotron">
  <h1>Welcome to <span class="new-font">Weight Tracker</span> </h1>
  <p>This is a new application, easy to use, to track your weight</p>

  <p>
  <%= link_to "Sign up &raquo;".html_safe ,new_user_registration_path, class:"btn btn-primary btn-lg", role:"button" %>
  </p>
        
</div>
