<div class="jumbotron">
<div class="row">
  <div class="col-md-6 new-font panel">
    <%= link_to '<h1> Profile </h1>'.html_safe, '#' %>
  </div>
  <div class="col-md-6 new-font panel">
    
    <%= link_to '<h1> Weight History </h1>'.html_safe, weights_path %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 new-font panel">
      
      <%= link_to '<h1> Graphs </h1>'.html_safe, graph_path %>
  </div>
  <div class="col-md-6 new-font panel">
      
      <%= link_to '<h1> Setup </h1>'.html_safe, app_parameters_path %>
  </div>
</div>
        
</div>