<div class="jumbotron">

  <h1 class="new-font">Weight Editing</h1>
  <%= render 'form' %>
  <%= link_to "<button type='button' class='btn btn-default'>
  <span class='glyphicon glyphicon-chevron-left'></span> </button>".html_safe , panel_path %>
        
</div>


