<% page_title "Edit Your Weight" %>

<div class="jumbotron">

  <h1>Edit Your Weight</h1>
  <%= render 'form' %>
  <%= link_to "<button type='button' class='btn btn-default active'>
  <span class='glyphicon glyphicon-chevron-left'></span> </button>".html_safe , panel_path %>
        
</div>


