<% page_title "New Weight" %>

<div class="jumbotron">

  <h1>New Weight </h1>
  <%= render 'form' %>
  <%= link_to "<button type='button' class='btn btn-default active'>
  <span class='glyphicon glyphicon-chevron-left'></span> </button>".html_safe , weights_path %>

</div>
