<% page_title "See Your Weight" %>

<div class="jumbotron">
<p>
  <strong>Fecha:</strong>
  <%= @weight.date %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @weight.weight %>
</p>

<p>
  <strong>Porcentaje de grasa:</strong>
  <%= @weight.fat_porcentage %>
</p>


<%= link_to 'Back', weights_path %>

</div>