// import the CSS framework
@import "bootstrap";

// import fonts
@font-face {
    font-family: 'mrs_saint_delafieldregular';
    src: font-url('Mrs_Saint_Delafield/mrssaintdelafield-regular-webfont.eot');
    src: font-url('Mrs_Saint_Delafield/mrssaintdelafield-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Mrs_Saint_Delafield/mrssaintdelafield-regular-webfont.woff') format('woff'),
         font-url('Mrs_Saint_Delafield/mrssaintdelafield-regular-webfont.ttf') format('truetype'),
         font-url('Mrs_Saint_Delafield/mrssaintdelafield-regular-webfont.svg#mrs_saint_delafieldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ruthieregular';
    src: url('Ruthies/ruthie-regular-webfont.eot');
    src: url('Ruthies/ruthie-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Ruthies/ruthie-regular-webfont.woff') format('woff'),
         url('Ruthies/ruthie-regular-webfont.ttf') format('truetype'),
         url('Ruthies/ruthie-regular-webfont.svg#ruthieregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #123;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }


body
{

    padding-top: 70px;

    background: #c9de96; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
    background: linear-gradient(to right, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=1 ); /* IE6-8 */
}

footer
{
  text-align: center;
}

.new-font
{
  font-family: 'mrs_saint_delafieldregular', cursive;
}

.new-font-ruthie
{
  font-family: 'ruthieregular', cursive;
}

.panel
{
  background-color: lightblue;
  padding: 5px;
  text-align: center;
}

/* Barra de navegcion */
.navbar-brand {
  font-size: 35px;
  font-weight: bold;

}
.navbar-brand:hover {
  text-decoration: none;
  color: green;
}

#container-stitched {
    /*stitching*/
    outline: 1px dashed #98abb9;
    outline-offset: -5px;
     
    background-color: #556068;
    height: 200px;
    width: 400px;
    margin: 100px auto;
     
    /*shadow*/
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}
    

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}